# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ambientes virtuais Python (caso rode localmente)
venv/
env/
__pycache__/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log